@import '../node_modules/mini.css/dist/mini-default.min.css';

form {
  min-width: 300px;
}

html,
body,
#root,
.container,
.center-page {
  height: 100%;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subnet-row {
  width: 600px;
  display: flex
}

.subnet-row > :first-child {
  flex: 0 0 300px;
}

.subnet-row > :not(:first-child) {
  flex: 1; /* Distribute remaining space equally */
  }
  
  
.subnet-name {
  @extend .subnet-content;
  width: 300px; 
}

.subnet-cidr {
  @extend .subnet-content;
  width: 100px;
}

.subnet-content {
  padding: 2px;
  text-align: left;
}
  
header {
  height: 5.1875rem;
}

a.button.active {
  border: 1px solid var(--fore-color);
}

/* Container for 3 columns */
.ft-row {
width: 600px;
display: flex;
}

.ft-row-red {
  @extend .ft-row;  
  color: red;
}

.ft-row-green {
  @extend .ft-row;
  color: green;
}

.ft-row-orange {
  @extend .ft-row;
  color: orange;
}


/* First column (fixed size) */
.ft-row > :first-child {
flex: 0 0 500px;
}

/* Remaining columns (flexible) */
.ft-row > :not(:first-child) {
flex: 1; /* Distribute remaining space equally */
}

.ft-content {
padding: 2px;
text-align: left;
}

